/* connection.php ----------------------------------------------- */
#connection-pseudo, #connection-pwd{
    width: 50vw;
}

/* header.php ----------------------------------------------- */
#header{
    padding: 1rem 5rem;
}

#avatar{
    height:10vh;
    width:10vh;
    border-radius: 50%;
}