/* GENERAL ----------------------------------------------- */
.padding-nav {
    padding: 1rem 5rem;
}

/* connection.php ----------------------------------------------- */
#connection-pseudo,
#connection-pwd {
    width: 50vw;
}

/* header.php + footer.php----------------------------------------------- */
#avatar {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}

header a {
    color: white !important;
}

header a:hover {
    color: yellow !important;
}

header .dropdown-item:hover {
    color: green !important;
}

footer a {
    color: black !important;
}

footer a:hover {
    color: #0275d8 !important;
}

/* article_creation.php ----------------------------------------------- */
#article-content {
    resize: none;
}

/* index.php ----------------------------------------------- */
.presentation {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Ici j'ai redéfini une propriété d'une classe boostrap */
.carousel-caption {
    bottom: 0rem;
}